# :computer: Check Database

In [3]:
import sqlalchemy 
import pandas as pd
import pathlib
import datetime as dt
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [30]:
db_path=pathlib.Path.cwd() / "bourbon/buffalo_trace.db"
db_path.exists()

True

In [33]:
engine = sqlalchemy.create_engine(f"sqlite:///{db_path.absolute()}")
# test connection 
with engine.connect() as conn: 
    with conn.begin(): 
        ver_no = conn.execute(sqlalchemy.text("SELECT SQLITE_VERSION()" )).fetchone()[0]
        print(f"Connected at SQLite V{ver_no}")

Connected at SQLite V3.35.5

In [12]:
inspect = sqlalchemy.inspect(engine)
inspect.get_table_names()

['buffalo_trace', 'product_avail', 'product_ext']

In [39]:
with engine.connect() as conn: 
    with conn.begin(): 
        sub_bourbon = pd.read_sql("select product_title, product_avail, product_update_time from buffalo_trace", engine)
 

# bourbon_data[["product_title","product_avail"]].plot(kind='line', legend=True)
print(f"duplicates: {len(sub_bourbon.index) - len((sub_bourbon.drop_duplicates()).index)}")
sub_bourbon[sub_bourbon.duplicated()]

duplicates: 735

                   product_title  product_avail         product_update_time
16                 Buffalo Trace              1  2023-08-14 14:22:00.000000
17   W.L. Weller Special Reserve              0  2023-08-14 14:22:00.000000
18   E.H. Taylor Jr. Small Batch              0  2023-08-14 14:22:00.000000
19                    Eagle Rare              0  2023-08-14 14:22:00.000000
20       Blanton’s Single Barrel              0  2023-08-14 14:22:00.000000
..                           ...            ...                         ...
794                   Eagle Rare              0  2023-08-17 12:25:00.000000
795      Blanton’s Single Barrel              0  2023-08-17 12:25:00.000000
796                  Sazerac Rye              1  2023-08-17 12:25:00.000000
797                     Wheatley              1  2023-08-17 12:25:00.000000
798                Bourbon Cream              1  2023-08-17 12:25:00.000000

[735 rows x 3 columns]

In [37]:
de_duped = sub_bourbon.drop_duplicates()

                   product_title  product_avail         product_update_time
0                  Buffalo Trace              1  2023-08-13 13:20:00.000000
1    W.L. Weller Special Reserve              0  2023-08-13 13:20:00.000000
2    E.H. Taylor Jr. Small Batch              0  2023-08-13 13:20:00.000000
3                     Eagle Rare              0  2023-08-13 13:20:00.000000
4        Blanton’s Single Barrel              0  2023-08-13 13:20:00.000000
..                           ...            ...                         ...
762                   Eagle Rare              0  2023-08-17 12:25:00.000000
763      Blanton’s Single Barrel              0  2023-08-17 12:25:00.000000
764                  Sazerac Rye              1  2023-08-17 12:25:00.000000
765                     Wheatley              1  2023-08-17 12:25:00.000000
766                Bourbon Cream              1  2023-08-17 12:25:00.000000

[64 rows x 3 columns]

In [2]:
bourbon_data = pd.read_sql("select * FROM buffalo_trace", engine)
today_bourbon = bourbon_data\
    .loc[pd.to_datetime(bourbon_data['product_update_time']).dt.date == dt.date.today() ,:]\
        .reset_index(drop=True)

plt.plot(today_bourbon["product_update_time"],today_bourbon["product_avail"])

NameError: name 'engine' is not defined